@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ============= GLOBAL STYLES ============= */
/* VARS */
:root {
  --white-color: #eeeeee;
  --black-color: #000000;
  --dark-main-color: #222831;
  --dark-secondary-color: #393e46;
  --primary-color: #00adb5;
  --light-main-color: #ffffff;
  --light-secondary-color: #777777;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ELEMENTS */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--dark-main-color);
  color: var(--light-main-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--light-secondary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ============= UTILITIES ============= */
.container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* TEXT STYLES */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-main-color);
}

.text-dark2 {
  color: var(--dark-secondary-color);
}

.text-light {
  color: var(--light-main-color);
}

.text-light2 {
  color: var(--light-secondary-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-warning {
  color: var(--warning-color);
}

/* ALIGNMENT */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* CARDS */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* LISTS */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* PADDINGS */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.px {
  padding: 0 0.5rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* MARGINS */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx {
  margin: 0 0.5rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1;
}

.mb-2 {
  margin-bottom: 2;
}

.mb-3 {
  margin-bottom: 3;
}

/* FLEX */
.flex-center {
  display: flex;
  justify-content: center;
}

/* GRIDS */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* BUTTONS */
.btn {
  display: inline-block;
  background: var(--dark-main-color);
  color: var(--light-main-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s;
  outline: none;
  border-radius: 7px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

/* BADGES & ALERTS*/
.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--dark-main-color);
  color: var(--light-main-color);
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  font-size: 0.9rem;
  background: var(--dark-main-color);
  color: var(--light-main-color);
}

.alert .close-alert {
  cursor: pointer;
  float: right;
}

/* COMPONENTS COLORS */
.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background-color: var(--primary-color);
  color: var(--light-main-color);
}

.btn-primary:hover {
  color: var(--light-main-color);
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background-color: var(--dark-secondary-color);
  color: var(--light-main-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-main-color);
  color: var(--dark-main-color);
  border: var(--light-secondary-color) solid 1px;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-main-color);
  color: var(--light-main-color);
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background-color: var(--danger-color);
  color: var(--light-main-color);
}

.btn-warning,
.bg-warning,
.badge-warning,
.alert-warning {
  background-color: var(--warning-color);
  color: var(--dark-main-color);
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background-color: var(--success-color);
  color: var(--light-main-color);
}

/* IMAGES */
.round-img {
  border-radius: 50%;
}

/* FORMS */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: var(--light-secondary-color);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--light-secondary-color);
}

input[type='submit'],
button {
  font: inherit;
}

/* TABLES */
table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--dark-secondary-color);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--light-main-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--white-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* LOADING */
.loading {
  display: block;
  margin: 3rem auto;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  border: 4px solid var(--primary-color);
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
  animation-delay: -0.5s;
}

.loading::after {
  content: 'Loading...';
  display: block;
  position: relative;
  text-align: center;
  top: 75px;
  opacity: 0.75;
  color: var(--primary-color);
}

@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* MOBILE STYLES */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
